<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aslan.contra">

    <!-- Custom permission for other apps to tie in to this app-->
    <permission
        android:name="com.aslan.contra.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.aslan.contra.permission.C2D_MESSAGE" />

    <!-- Needed to communicate with the server-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To get device hardware info-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows using PowerManager WakeLocks to keep processor from sleeping or screen from dimming-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <!-- To receive GCM push notifications-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- To collect contact entries-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- For location updates-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To collect the activities of the user -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- To collect nearby terminal/device data-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- To collect environment sensor data -->
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />
    <!--<uses-feature-->
    <!--android:name="android.hardware.sensor.gyroscope"-->
    <!--android:required="false" />-->
    <!-- <uses-feature android:name="android.hardware.sensor.compass" -->
    <!-- android:required="false" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".services.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.aslan.contra" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FulScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.RegisterActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.RemoteMessagingService"
            android:enabled="true"
            android:exported="true"
            android:process=":exported">
            <intent-filter>
                <action android:name="aslan.plugin.ConTra" />
            </intent-filter>
        </service>

        <activity android:name=".view.activity.MsgPassingActivity" />

        <service
            android:name=".services.LocationTrackingService"
            android:exported="false" />
        <service android:name=".sensor.ActivitySensor$ActivityRecognitionReceiverService" />
        <service
            android:name=".services.EnvironmentMonitorService"
            android:exported="false" />
        <service
            android:name=".services.ActivityRecognitionService"
            android:exported="false" />
        <service
            android:name=".services.NearbyTerminalTrackingService"
            android:exported="false"></service>
    </application>

</manifest>
